Source: tclcurl
Section: interpreters
Priority: extra
Maintainer: Sven Hoexter <hoexter@debian.org>
Build-Depends: debhelper (>= 9), tcl-dev, libcurl4-gnutls-dev (>= 7.22.0),
 quilt, bc
Homepage: http://personal.telefonica.terra.es/web/getleft/tclcurl/index.html
Standards-Version: 3.9.3
Vcs-Git: git://git.sven.stormbind.net/git/sven/tclcurl.git
Vcs-Browser: http://git.sven.stormbind.net/?p=sven/tclcurl.git

Package: tclcurl
Architecture: any
Suggests: libcurl4-gnutls-dev
Depends: ${misc:Depends}, ${shlibs:Depends}, ${tclsh:Depends}
Description: Tcl bindings to libcurl
 This module enables the use of libcurl in Tcl scripts. Please refer to
 the libcurl documentation available in the libcurl4-gnutls-dev package.
 .
 NOTE: the SSL support is provided by GnuTLS.
