Source: tclcurl
Section: interpreters
Priority: extra
Maintainer: Sven Hoexter <sven@timegate.de>
Build-Depends: debhelper (>> 5), tcl-dev, libcurl4-gnutls-dev (>= 7.19.6), quilt, bc
Homepage: http://personal1.iddeo.es/andresgarci/tclcurl/english/index.html
Standards-Version: 3.8.3
Vcs-Svn: svn://www.stormbind.net/debian-pkgs-sven/tclcurl/trunk

Package: tclcurl
Architecture: any
Suggests: libcurl4-gnutls-dev
Depends: ${shlibs:Depends}, ${tclsh:Depends}
Description: Tcl bindings to libcurl
 This module enables the use of libcurl in Tcl scripts. Please refer to
 the libcurl documentation available in the libcurl4-gnutls-dev package.
 .
 NOTE: the SSL support is provided by GnuTLS.
